ion-content{
    --ion-background-color:#f5f1ef;
}




ion-card-title{
    font-size: 18px;
    font-weight: 600;
    color: #ec5509;
    padding-top: 20px;
    padding-left: 20px;
}
.scrollmsg{
    font-size: 18px;
    font-weight: 600;
    color: #ec5509;
    padding-top: 20px;
    padding-left: 20px;
}
ion-text{
    text-align: justify;
}
ion-card{
    border:0px !important;
    // background-color: #c9c4c4;
}
ion-list {
    
    border-radius: 10px;
    margin-bottom: 1px;
    padding: 0px 0px;
    color: #212121;
    --background-color: #ffffff !important;
    margin: 3px;
    .note_title{
      font-size: 12px;
      color:#000;
    }
     .note_date{
      font-size: 12px;
      color:#000;
    }
  }