<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-button slot="start">
    <ion-back-button defulthref="login" text=""></ion-back-button>
  </ion-button>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
      <div class="img_logo">
        <ion-img src="../../assets/images/header.png"></ion-img>
      </div>

      <ion-card-content>
      <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
        <div class="wrapform">
          <ion-item>
            <ion-icon name="person-outline"></ion-icon>
            <ion-input type="text" name="text" formControlName="email" placeholder="Enter your register email ID" required></ion-input>
          </ion-item>
          <div>
              <ng-container *ngFor="let validation of validationUserMessage.email">
                <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
                  {{validation.message}}
                </div>
              </ng-container>
          </div>

        </div>
        <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding" [routerLink]="['/loginscreen']">Already Have Account</ion-button>
        </div>
        <div class="sign-btn-wrap">
            <ion-button type="submit" shape="round" fill="solid" color="dark" class="sign-btn" [disabled]="!validationFormUser.valid">Submit</ion-button>
            <ion-button routerLink="/loginscreen" fill="outline" shape="round" color="dark">
              Back
            </ion-button>
          </div>

      </form>
      </ion-card-content>

    </ion-card>








</ion-content>
