ion-content {
    -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       background-color: #d18b6861;
  
   }
   ion-card-title{
    font-size: 18px;
    font-weight: 600;
    color: #ec5509;
    padding-top: 20px;
    padding-left: 20px;
}
ion-text{
    text-align: justify;
}
ion-card{
    border:0px !important;
  background-color: #f5f1ef;
}
ion-item{
    --ion-item-background: #f5f1ef;
}